.profile__edit-button {
	grid-area: edit;
	margin: 0;
	padding: 0;
	padding-top: 32px;
	background-color: #000;
	max-width: 18px;
	width: 100%;
	max-height: 18px;
	height: 100%;
	background-image: url("../../../images/Edit-Button.svg");
}

@media screen and (min-width: 1280px) {
	.profile__edit-button {
		min-width: 24px;
		min-height: 24px;
		padding: 0;
		margin-top: 16px;
	}
}
