.profile__edit-button {
  grid-area: edit;
  margin: 6px 0 0 0;
  padding: 0;
  background-color: #000;
  max-width: 18px;
  width: 100%;
  max-height: 18px;
  height: 100%;
  background-image: url('../../../images/Edit-Button.svg');
  background-position: top;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    margin-top: 14px;
    max-width: 24px;
    max-height: 24px;
  }
}
