.header__logo {
  box-sizing: border-box;
  padding: 0;
  margin: 26px 0 30px 27px;
  min-width: 120px;
  min-height: 120px;

}


@media screen and (min-width: 768px) {
  .header__logo {
    min-width: 140px;
    min-height: 140px;

  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    margin: 45px 0 41px 0;
    min-width: 120px;
    min-height: 120px;
  }
}
