/*.page__popup {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 88.13%;
	flex-direction: column;
	transform: translate(-50%, -50%);
	font-family: "Inter", "Arial", sans-serif;
	font-style: normal;
	text-align: center;
	color: #fff;
	z-index: 2;
}

@media screen and (min-width: 428px) {
	.page__popup {
		max-width: 390px;
	}
}
*/
