.profile__title-wrapper {
	grid-area: text-block;
}

@media screen and (min-width: 400px) {
	.profile__title-wrapper {
		margin-right: 10px;
	}
}

@media screen and (min-width: 1280px) {
	.profile__title-wrapper {
		margin-right: 20px;
	}
}
