.page__popup {
	display: none;
	margin: 0 auto;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 88.13%;
	flex-direction: column;
	transform: translate(-50%, -50%);
	font-family: "Inter", "Arial", sans-serif;
	font-style: normal;
	text-align: center;
	color: #fff;
}

@media screen and (min-width: 428px) {
	.page__popup {
		max-width: 390px;
	}
}

@media screen and (min-width: 928px) {
	.popup__popup {
		top: 60px;
		max-width: 432px;
		max-height: 330px;
	}
}
.popup_opened {
	display: flex;
}
.popup__close-button {
	margin: 0;
	padding: 0;
	max-width: 20px;
	max-height: 20px;
	align-self: flex-end;
	margin-bottom: 16px;
}

@media screen and (min-width: 928px) {
	.popup__close-button {
		position: relative;
		right: -40px;
		top: -8px;
		max-width: 32px;
		max-height: 32px;
		margin-bottom: 0;
	}
}

.popup__close-image {
	min-width: 20px;
	min-height: 20px;
}

@media screen and (min-width: 928px) {
	.popup__close-image {
		min-width: 32px;
		min-height: 32px;
		margin-bottom: 0;
	}
}

.popup__container {
	background-color: #fff;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	opacity: 1;
}
.popup__wrapper {
}
.title {
}
.popup__title {
	text-align: left;
	font-weight: 900;
	font-size: 18px;
	line-height: 22px;
	color: #000;
	width: 100%;
	padding-top: 25px;
	padding-left: 22px;
	margin-bottom: 75px;
}

@media screen and (min-width: 928px) {
	.popup__title {
		padding-top: 34px;
		padding-left: 36px;
		margin-bottom: 50px;
		font-weight: 900;
		font-size: 24px;
		line-height: 29px;
	}
}

.popup__form {
}

.popup__input {
	box-sizing: border-box;
	width: 84.4%;
	padding-bottom: 8px;
	min-height: 27px;
	border: none;
	border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
	font-size: 14px;
	line-height: 17px;
	vertical-align: top;
}

.popup__input:not(:last-of-type) {
	margin-bottom: 30px;
}

@media screen and (min-width: 928px) {
	.popup__input {
		padding-bottom: 8px;
		vertical-align: top;
	}
}

.popup__input-name {
}

.popup__input-career {
	margin-bottom: 45px;
}

.popup__button {
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
	width: 84.4%;
	min-height: 46px;
	background-color: #000;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
}

@media screen and (min-width: 928px) {
	.popup__button {
		margin-bottom: 37px;
		min-height: 50px;
		font-size: 18px;
		line-height: 22px;
	}
}
