* {
	outline: 1px solid red;
}
/*
.page__content {
}
.profile {
}
.page__profile {
}

.text-content {
}
.page__text__content {
}

.edit-button {
}

.add-button {
}
*/
.places {
	width: 100%;
}
.page__places {
}
.places__items {
	margin: 0 auto;
	width: 100%;
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(autofit, minmax(min-content, 360px));
	row-gap: 20px;
	justify-items: center;
	align-items: start;
}
.places__item {
	background-color: #fff;
	border-radius: 10px;
	min-height: 361px;
}
.places__image {
	box-sizing: border-box;
	width: 100%;
	max-height: 282px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}
.places__text-content {
	box-sizing: border-box;
	margin: 0 auto;
	width: 87.23%;
	max-height: 79px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.places__title {
	padding: 21px 0 24px 0;
	box-sizing: border-box;
	color: #000;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
}
.places__like-button {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: block;
	background-image: url("./images/profile/like-button.svg");
	block-size: contain;
	background-repeat: no-repeat;
	min-width: 22px;
	min-height: 19px;
}
