.popup__show-image {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 240px;
}

@media screen and (min-width: 360px) {
  .popup__show-image {
    max-width: 75vw;
    max-height: 75vh;
  }
}
