.profile__card {
	box-sizing: border-box;
	width: 100%;
	min-width: 281px;
	display: grid;
	grid-template-areas:
		"image"
		"content"
		"button";
	grid-template-columns: minmax(50px, 1fr);
	grid-template-rows: minmax(50px, max-content);
	column-gap: 10px;
	grid-auto-columns: 0;
	justify-items: center;
	align-items: center;
	margin-bottom: 36px;
}

@media screen and (min-width: 400px) {
	.profile__card {
		grid-template-areas:
			"image content"
			"button button";
		grid-template-columns: 1fr 1fr;
		column-gap: 2%;
	}
}

@media screen and (min-width: 768px) {
	.profile__card {
		padding: 0 16px;
		grid-template-areas: "image content button";
		grid-template-columns: 1fr 1fr 20%;
	}
}

@media screen and (min-width: 1280px) {
	.profile__card {
		padding: 0;
		column-gap: 30px;
		grid-template-columns: min-content 1fr 20%;
		margin-bottom: 50px;
	}
}
