.profile__add-button {
	display: block;
	box-sizing: border-box;
	min-width: 16px;
	min-height: 16px;
	width: 100%;
	background-image: url("../../../images/add.svg");
	margin: 17px 0;
	align-self: end;
}
