.profile__avatar-container {
  position: relative;
  z-index: 3;
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;
}


.profile__avatar-container:hover::before {
  position: absolute;
  content: '';
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  min-width: 26px;
  min-height: 26px;
  background-image: url('../../../images/edit-avatar.svg');
  background-repeat: no-repeat;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .profile__avatar-container {
    max-width: 140px;
    max-height: 140px;

  }
}

@media screen and (min-width: 1280px) {
  .profile__avatar-container {
    max-width: 120px;
    max-height: 120px;
  }
}
