.places__like-button {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: block;
	background-image: url("../../../images/profile/like-button.svg");
	block-size: contain;
	background-repeat: no-repeat;
	min-width: 22px;
	min-height: 19px;
	transition: opacity 0.9s ease-out 0s;
}

.places__like-button:hover {
	opacity: 0.2;
}
