@import url("../vendor/normalize.css");
@import url("../vendor/font.css");
@import url("../blocks/page/page.css");
@import url("../blocks/page/__container/page__container.css");
@import url("../blocks/header/header.css");
@import url("../blocks/page/__header/page__header.css");
@import url("../blocks/logo/logo.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/content/content.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__card/profile__card.css");
@import url("../blocks/page/__profile/page__profile.css");
@import url("../blocks/avatar/avatar.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__content-wrapper/profile__content-wrapper.css");
@import url("../blocks/profile/__title-wrapper/profile__title-wrapper.css");
@import url("../blocks/title/title.css");
@import url("../blocks/profile/__title/profile__title.css");
@import url("../blocks/subtitle/subtitle.css");
@import url("../blocks/profile/__subtitle/profile__subtitle.css");
@import url("../blocks/button/buttton.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__button-wrapper/profile__button-wrapper.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/profile/__places/profile__places.css");
@import url("../blocks/places/__items/places__items.css");
@import url("../blocks/places/__item/places__item.css");
@import url("../blocks/places/__image-content/places__image-content.css");
@import url("../blocks/places/__image/places__image.css");
@import url("../blocks/places/__text-content/places__text-content.css");
@import url("../blocks/places/__title/places__title.css");
@import url("../blocks/places/__like-button/places__like-button.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
