.profile__button-wrapper {
	margin: 0;
	padding: 0;
	grid-area: button;
	outline: 1px #fff solid;
	width: 100%;
	background-color: #000;
	max-width: 281px;
	max-height: 48px;
	border-radius: 2px;
}

@media screen and (min-width: 1280px) {
	.profile__button-wrapper {
		max-width: 150px;
		max-height: 48px;
		justify-self: end;
	}
}
