.popup__title {
	box-sizing: border-box;
	text-align: left;
	font-weight: 900;
	font-size: 18px;
	line-height: 22px;
	color: #000;
	width: 100%;
	padding: 0 19px;
	padding-top: 25px;
	margin-bottom: 75px;
}

@media screen and (min-width: 928px) {
	.popup__title {
		padding-top: 34px;
		padding-left: 36px;
		margin-bottom: 50px;
		font-weight: 900;
		font-size: 24px;
		line-height: 29px;
	}
}
