.page__container {
	box-sizing: border-box;
	margin: 0 auto;
	width: 88.13%;
	font-family: "Inter", "Arial", sans-serif;
	font-style: normal;
	text-align: center;
	color: #fff;
}

@media screen and (min-width: 768px) {
	.page__container {
	}
}

@media screen and (min-width: 928px) {
	.page__container {
		padding: 0;
	}
}

@media screen and (min-width: 1024px) {
	.page__container {
	}
}

@media screen and (min-width: 1280px) {
	.page__container {
		max-width: 880px;
	}
}
